{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IBSYS-2 D3</title>
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'purchase_summary/styles.css' %}">
</head>
<header>
    <div class="container">
        <h1 style="font-size:80px;color:white" class="text-center">
            {% trans "Production-Summary"%}
        </h1>
    </div>
    <div class="dropdown">
      <div id="myDropdown" class="dropdown-content" style="margin-left:92%;font-size:30px">
        <a href="/de/production-summary">DE</a>
        <a href="/en-gb/production-summary">EN</a>
        <a href="/ru/production-summary">RU</a>
        <a href="/it/production-summary">IT</a>
      </div>
    </div>
</header>
<body>
<div class="container"></div>
<div class="jumbotron" style="background-color:rgb(44, 62, 80, .8)">
    <div class="card" style="background-color:rgb(44, 62, 80, .5)">
        <div class="card-header" style="font-size:25px;color:white">
            {% trans "Update Safety Stock"%}
        </div>

        <div class="card-body">
            <form method="POST" action="update_safety_stock">
                <table class="table table-dark table-bordered table-hover" style="align:center">
                    <thead>
                    <tr>
                        <th scope="col">{% trans "Item Name"%}</th>
                        <th scope="col">{% trans "Safety Stock"%}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{ formset_ownparts.management_form }}
                    {% for form in formset_ownparts %}
                    {% csrf_token %}
                    <tr>
                        <td>{{ form.item_name }}</td>
                        <td>{{ form.safety_stock }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <button type="submit" class="btn btn-primary" style="width:5%">{% trans "Update"%}</button>
            </form>
        </div>
    </div>
    <div class="card" style="background-color:rgb(44, 62, 80, .5)">
        <div class="card-header" style="font-size:25px;color:white">
            {% trans "Show Production-Summary P1"%}
        </div>

        <div class="card-body">
            <table class="table table-dark table-bordered table-hover" style="align:center">
                <thead>
                <tr>
                    <th scope="col">{% trans "Parts Number"%}</th>
                    <th scope="col">{% trans "Parts Description"%}</th>
                    <th scope="col">{% trans "Needed Parts for Production Program"%}</th>
                    <th scope="col">{% trans "Safety Stock"%}</th>
                    <th scope="col">{% trans "Current Stock (dynamic)"%}</th>
                    <th scope="col">{% trans "Orders in Queue"%}</th>
                    <th scope="col">{% trans "Orders in Progress"%}</th>
                    <th scope="col">{% trans "Amount to Produce"%}</th>
                </tr>
                </thead>
                <tbody>
                {% for p in product_1 %}
                {% csrf_token %}
                <tr>
                    <th>{{ p.parts_number }}</th>
                    <th>{{ p.parts_description }}</th>
                    <th>{{ p.sw_needed }}</th>
                    <td>{{ p.safety_stock }}</td>
                    <td>{{ p.current_stock }}</td>
                    <td>{{ p.orders_in_queue }}</td>
                    <td>{{ p.orders_in_progress }}</td>
                    <td>{{ p.amount_to_produce }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="card" style="background-color:rgb(44, 62, 80, .5)">
            <div class="card-header" style="font-size:25px;color:white">
                {% trans "Show Production-Summary for P1 and P2"%}
            </div>
            <div class="card-body">
                <table class="table table-dark table-bordered table-hover" style="align:center">
                    <thead>
                    <tr>
                    <th scope="col">{% trans "Parts Number"%}</th>
                    <th scope="col">{% trans "Parts Description"%}</th>
                    <th scope="col">{% trans "Needed Parts for Production Program"%}</th>
                    <th scope="col">{% trans "Safety Stock"%}</th>
                    <th scope="col">{% trans "Current Stock (dynamic)"%}</th>
                    <th scope="col">{% trans "Orders in Queue"%}</th>
                    <th scope="col">{% trans "Orders in Progress"%}</th>
                    <th scope="col">{% trans "Amount to Produce"%}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for p in product_2 %}
                    {% csrf_token %}
                    <tr>
                        <th>{{ p.parts_number }}</th>
                        <th>{{ p.parts_description }}</th>
                        <th>{{ p.sw_needed }}</th>
                        <td>{{ p.safety_stock }}</td>
                        <td>{{ p.current_stock }}</td>
                        <td>{{ p.orders_in_queue }}</td>
                        <td>{{ p.orders_in_progress }}</td>
                        <td>{{ p.amount_to_produce }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="card" style="background-color:rgb(44, 62, 80, .5)">
                <div class="card-header" style="font-size:25px;color:white">
                    {% trans "Show Production-Summary for P1,P2 and P3"%}
                </div>
                <div class="card-body">
                    <table class="table table-dark table-bordered table-hover" style="align:center">
                        <thead>
                        <tr>
                            <th scope="col">{% trans "Parts Number"%}</th>
                            <th scope="col">{% trans "Parts Description"%}</th>
                            <th scope="col">{% trans "Needed Parts for Production Program"%}</th>
                            <th scope="col">{% trans "Safety Stock"%}</th>
                            <th scope="col">{% trans "Current Stock (dynamic)"%}</th>
                            <th scope="col">{% trans "Orders in Queue"%}</th>
                            <th scope="col">{% trans "Orders in Progress"%}</th>
                            <th scope="col">{% trans "Amount to Produce"%}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for p in product_3 %}
                        {% csrf_token %}
                        <tr>
                            <th>{{ p.parts_number }}</th>
                            <th>{{ p.parts_description }}</th>
                            <th>{{ p.sw_needed }}</th>
                            <td>{{ p.safety_stock }}</td>
                            <td>{{ p.current_stock }}</td>
                            <td>{{ p.orders_in_queue }}</td>
                            <td>{{ p.orders_in_progress }}</td>
                            <td>{{ p.amount_to_produce }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="btn-group" role="group" aria-label="Basic example" style="margin-left:1%">
                    <a href="/">
                        <button type="button" style="width:80px" class="btn btn-secondary">{% trans "Back"%}</button>
                    </a>
                    <a href="production-orders?from_summary=true">
                        <button type="button" style="width:80px" class="btn btn-secondary">{% trans "Next"%}</button>
                    </a>
                    <a href="reset_application" style="margin-left:1%;margin-bottom:1%">
                        <button type="button" style="width:80px" class="btn btn-danger">{% trans "Reset all" %}</button>
                    </a>
                </div>
            </div>
        </div>
</body>
</html>
