{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IBSYS-2 D3</title>
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'capacity_requirements/styles.css' %}">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</head>
<header>
    <div class="container">
        <h1 id="heading" style="font-size:80px;color:white" class="text-center">
            {% trans "Capacity-Requirements"%}
        </h1>
    </div>
    <div class="dropdown">
            <div id="myDropdown" class="dropdown-content" style="margin-left:92%;font-size:30px">
                <a href="/de/capacity-requirements">DE</a>
                <a href="/en-gb/capacity-requirements">EN</a>
                <a href="/ru/capacity-requirements">RU</a>
                <a href="/it/capacity-requirements">IT</a>
            </div>
        </div>
</header>
<body>
<div class="container"></div>
<div class="jumbotron" style="background-color:rgb(44, 62, 80, .8)">
    <div class="card" style="background-color:rgb(44, 62, 80, .5)">
        <div class="card-header" style="font-size:25px;color:white">
            {% trans "Update Capacity-Requirements"%}
        </div>
        <div class="card-body">
            <form method="POST" action="update_capacity_requirement">
                <table class="table table-dark table-bordered table-hover" style="align:center">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">{% trans "Station"%}</th>
                        <th scope="col">{% trans "Production time (new)"%}</th>
                        <th scope="col">{% trans "Setup time (new)"%}</th>
                        <th scope="col">{% trans "Previous period overtime"%}</th>
                        <th scope="col">{% trans "Total time needed"%}</th>
                        <th scope="col">{% trans "Shift"%}</th>
                        <th scope="col">{% trans "Overtime"%}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{ formset.management_form }}
                    {% for form in formset %}
                    {% csrf_token %}
                    <tr>
                        <td scope="col">{{ form.id }}</td>
                        <td scope="col">{{ form.wp_id }}</td>
                        <td scope="col">{{ form.production_time_new }}</td>
                        <td scope="col">{{ form.setup_time_new }}</td>
                        <td scope="col">{{ form.previous_overtime }}</td>
                        <td scope="col">{{ form.total_time_needed }}</td>
                        <td scope="col">{{ form.shift }}</td>
                        <td scope="col">{{ form.overtime }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <button type="submit" class="btn btn-primary" style="width:5%">{% trans "Update"%}</button>
                <a href="purchase-orders" style="margin-left:1%;margin-bottom:1%">
                    <button type="button" style="width:5%" class="btn btn-secondary">{% trans "Back"%}</button>
                </a>
                <a href="reset_application" style="margin-left:1%;margin-bottom:1%">
                    <button type="button" style="width:5%" class="btn btn-danger">{% trans "Reset all" %}</button>
                </a>
                <a href="export_to_xml" style="float: right;">
                    <button type="button" class="btn btn-primary">{% trans "Export to XML"%}</button>
                </a>
            </form>

        </div>
    </div>
</div>
</body>
</html>

