{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IBSYS-2 D3</title>
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'production_orders/styles.css' %}">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

    <script>

        function fire_get_request_with_parameter(id, item_name, old_quantity) {
            let new_quantity = document.getElementById("new_quantity-" + id).value;
            window.location.href = `split_product_order?id=${id}&item_name=${item_name}&quantity=${old_quantity}&new_quantity=${new_quantity}`
        }



    </script>
</head>
<header>
    <div class="container">
        <h1 id="heading" class="text-center" style="font-size:80px;color:white">
            {% trans "Production-Orders" %}
        </h1>
    </div>
    <div class="dropdown">
        <div id="myDropdown" class="dropdown-content" style="margin-left:92%;font-size:30px">
            <a href="/de/production-orders">DE</a>
            <a href="/en-gb/production-orders">EN</a>
            <a href="/ru/production-orders">RU</a>
            <a href="/it/production-orders">IT</a>
        </div>
    </div>
</header>
<body>
<div class="container"></div>
<div class="jumbotron" style="background-color:rgb(44, 62, 80, .8)">
    <div class="card" style="background-color:rgb(44, 62, 80, .5)">
        <div class="card-header" style="font-size:25px;color:white">
            {% trans "Update Production-Orders"%}
        </div>
        <div class="card-body">
            <form method="POST" action="update_product_order">
                <table class="table table-dark table-bordered table-hover" style="align:center">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">{% trans "Product ID"%}</th>
                        <th scope="col">{% trans "Quantity"%}</th>
                        <th scope="col">{% trans "Update"%}</th>
                        <th scope="col">{% trans "Delete"%}</th>
                        <th scope="col">{% trans "Splitting"%}</th>
                        <th scope="col">{% trans "Move"%}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{ formset.management_form }}
                    {% for form in formset %}
                    {% csrf_token %}
                    <tr>
                        <td>{{ form.id }}</td>
                        <td>{{ form.item_name }}</td>
                        <td>{{ form.quantity }}</td>
                        <td>
                            <a href="update_product_order">
                                <button type="submit" class="btn btn-primary">{% trans "Update"%}</button>
                            </a>
                        </td>
                        <td>
                            <a href="delete_product_order?delete_id={{ form.id.value }}">
                                <button type="button" class="btn btn-danger">{% trans "Delete"%}</button>
                            </a>
                        </td>
                        <td>
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary" data-toggle="modal"
                                    data-target="#exampleModalCenter-{{ form.id.value }}">
                                Split
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModalCenter-{{ form.id.value }}" tabindex="-1" role="dialog"
                                 aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle" style="color:black">Split
                                                amount</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">

                                            <p style="color:black">{{ form.item_name }}</p>
                                            <br>
                                            <span style="color:black;">Quantity:</span>
                                            <br>
                                            <input id="new_quantity-{{ form.id.value }}" type="text" name="quantity">
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                                            </button>
                                            <button type="button"
                                                    onclick='fire_get_request_with_parameter({{ form.id.value }},"{{ form.item_name.value }}",{{ form.quantity.value }})'
                                                    class="btn btn-primary">Split
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </td>
                        <td>
                            <a href="move_up?up_id={{ form.id.value }}">
                                <button type="button" class="btn btn-secondary">{% trans "UP"%}</button>
                            </a>
                            <a href="move_down?down_id={{ form.id.value }}">
                                <button type="button" class="btn btn-secondary">{% trans "DOWN"%}</button>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </form>
        </div>
        <div class="btn-group" role="group" aria-label="Basic example" style="margin-left:1%">
            <a href="production-summary">
                <button type="button" class="btn btn-secondary" style="width:80px;">{% trans "Back"%}</button>
            </a>
            <a href="purchase-orders">
                <button type="button" class="btn btn-secondary" style="width:80px;">{% trans "Next"%}</button>
            </a>
            <a href="reset_application" style="margin-left:1%;margin-bottom:1%">
                <button type="button" class="btn btn-danger" style="width:80px">{% trans "Reset all" %}</button>
            </a>
        </div>
    </div>
</div>
</body>
</html>

