body {
	background: rgba(44, 62, 80, .8);
	font-family: 'Oswald', 'Futura', sans-serif;
}

.btn-circle {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 40px;
    line-height: 1.33;
    margin-left: 85%;
    margin-bottom: 3%;
}

th {
   text-align:center
}

td {
    text-align:center
}


div#purchase-orders {
    float: left;
}

div#buyparts {
    float: left;
}

div#production-data {
    float: left;
}

.row-normalization {
    height: 100%;
}

tr {
    height: 60px;
}