{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IBSYS-2 D3</title>
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'purchase_orders/styles.css' %}">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</head>
<header>
    <div class="container">
        <h1 style="font-size:80px;color:white" class="text-center">
            {% trans "Purchase-Orders"%}
        </h1>
    </div>
    <div class="dropdown">
      <div id="myDropdown" class="dropdown-content" style="margin-left:92%;font-size:30px">
        <a href="/de/purchase-orders">DE</a>
        <a href="/en-gb/purchase-orders">EN</a>
        <a href="/ru/purchase-orders">RU</a>
        <a href="/it/purchase-orders">IT</a>
      </div>
    </div>
</header>
<body>
<div class="container"></div>
<div class="jumbotron" style="background-color:rgb(44, 62, 80, .8)">
    <div class="card" style="background-color:rgb(44, 62, 80, .5)">
        <div class="card-header" style="font-size:25px;color:white">
            {% trans "Update Purchase-Orders"%}
        </div>
        <div class="card-body">
            <div id="buyparts">
                <table class="table table-dark table-bordered table-hover" style="align:center">
                    <thead>
                    <tr>
                        <th scope="col">{% trans "Item Name"%}</th>
                        <th scope="col">{% trans "Delivery Time"%}</th>
                        <th scope="col">{% trans "Delivery Deviation Time"%}</th>
                        <th scope="col">{% trans "Production P1"%}</th>
                        <th scope="col">{% trans "Production P2"%}</th>
                        <th scope="col">{% trans "Production P3"%}</th>
                        <th scope="col">{% trans "Discount Quantity"%}</th>
                        <th scope="col">{% trans "Quantity"%}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for buypart in buy_items %}
                    <tr>
                        <th>{{ buypart.item_name }}</th>
                        <th>{{ buypart.delivery_time }}</th>
                        <th>{{ buypart.delivery_deviation_time }}</th>
                        <th>{{ buypart.production_p1 }}</th>
                        <th>{{ buypart.production_p2 }}</th>
                        <th>{{ buypart.production_p3 }}</th>
                        <th>{{ buypart.discount_quantity }}</th>
                        <th>{{ buypart.quantity }}</th>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <div id="production-data">
                <table class="table table-dark table-bordered table-hover" style="align:center">
                    <thead>
                    <tr>
                        <th scope="col">1</th>
                        <th scope="col">2</th>
                        <th scope="col">3</th>
                        <th scope="col">4</th>
                        <th scope="col">Durability</th>
                        <th scope="col">Min. amount to buy</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for p in production_data %}
                    <tr>
                        <th>{{ p.1 }}</th>
                        <th>{{ p.2 }}</th>
                        <th>{{ p.3 }}</th>
                        <th>{{ p.4 }}</th>
                        <th>{{ p.durability }}</th>
                        <th>{{ p.recommended_to_buy }}</th>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <form method="POST" action="add_to_db_function">
                <div id="purchase-orders">
                    <table class="table table-dark table-bordered table-hover" style="align:center">
                        <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">{% trans "Quantity"%}</th>
                            <th scope="col">{% trans "Modus"%}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{ formset.management_form }}
                        {% for form in formset %}
                        {% csrf_token %}
                        <tr>
                            <td>{{ form.article }}</td>
                            <td>{{ form.quantity }}</td>
                            <td>{{ form.mode }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <button type="submit" class="btn btn-primary" style="width:5%">{% trans "Update"%}</button>
            </form>
            <form action="reset">
                <button type="submit" class="btn btn-danger" style="width:5%">{% trans "Reset"%}</button>
            </form>
        </div>

        <div class="btn-group" role="group" aria-label="Basic example" style="margin-left:1%;width:100%">
            <a href="production-orders">
                <button type="button" class="btn btn-secondary" style="width:90px;margin-left:2%;">{% trans "Back"%}</button>
            </a>
            <a href="capacity-requirements">
                <button type="button" class="btn btn-secondary" style="width:90px;margin-left:2%;">{% trans "Next"%}</button>
            </a>
            <a href="reset_application">
                <button type="button" class="btn btn-danger" style="width:90px;margin-left:2%;">{% trans "Reset all" %}</button>
            </a>
        </div>

    </div>
</div>
</body>
</html>
