{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IBSYS-2 D3</title>
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'sellwish_directsales/styles.css' %}">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </head>
  <header>
    <div class="container">
      <h1 style="font-size:80px;color:white" class="text-center">
        {% trans "Sellwish, Production-Program & Directsales" %}
      </h1>
    </div>
    <div class="dropdown">
      <div id="myDropdown" class="dropdown-content" style="margin-left:92%;font-size:30px">
        <a href="/de">DE</a>
        <a href="/en-gb">EN</a>
        <a href="/ru">RU</a>
        <a href="/it">IT</a>
      </div>
    </div>
  </header>
  <body>
    <div class="container"></div>
        <div class="jumbotron" style="background-color:rgb(44, 62, 80, .8)">
          <div class="card" style="background-color:rgb(44, 62, 80, .5)">
                <div class="card-header" style="font-size:25px;color:white">
                  <h1 style="color:white">{% trans "Sellwish"%}</h1>
                </div>
                <div class="card-body">
                  <form action="update_sellsinperiod_form" method="post">
                      <table class="table table-dark table-bordered table-hover" style="align:center">
                        <thead>
                          <th scope="col">{% trans "Product ID" %}</th>
                          <th scope="col">{% trans "Quantity" %}</th>
                        </thead>
                        <tbody>
                        {{ formset_sellwish.management_form }}
                        {% csrf_token %}
                        {% for form in formset_sellwish %}
                          <tr>
                            <td>{{ form.product_id }}</td>
                            <td>{{ form.quantity }}</td>
                          </tr>
                        {% endfor %}
                        </tbody>
                      </table>
                      <button type="submit" class="btn btn-primary" style="width:8%;margin-left:0%">{% trans "Update"%}</button>
                    </form>
                </div>
          {% if file_not_uploaded %}
            <form method="post" enctype="multipart/form-data" action="upload_file" style="padding:10px">
                {% csrf_token %}
                <strong style="font-size:40px;color:white">Select a file:</strong> <input type="file" name="input_xml" style="padding:10px;">
                <button type="submit" class="btn btn-primary" style="width:8%;margin-left:0%">{% trans "Upload" %}</button>
            </form>
          {% else %}
            <form method="post" enctype="multipart/form-data" action="reset_application" style="padding:10px">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary" style="width:8%; margin-left:0.5%">{% trans "Reset" %}</button>
            </form>
          {% endif %}
            <div class="card" style="background-color:rgb(44, 62, 80, .5)">
                <div class="card-header" style="font-size:25px;color:white">
                {% trans "Production-Program" %}
                </div>
                <div class="card-body">
                    <form method="POST" action="update_production_program_form">
                      <table class="table table-dark table-bordered table-hover" style="align:center">
                        <thead>
                          <tr>
                           <th scope="col">{% trans "Product ID" %}</th>
                            <th scope="col">{% trans "Current Period Quantity" %}</th>
                            <th scope="col">{% trans "Period 2 Quantity" %}</th>
                            <th scope="col">{% trans "Period 3 Quantity" %}</th>
                            <th scope="col">{% trans "Period 4 Quantity" %}</th>
                          </tr>
                        </thead>
                        <tbody>
                          {{ formset_prodprogramm.management_form }}
                          {% for form in formset_prodprogramm %}
                          {% csrf_token %}
                          <tr>
                            <td>{{ form.product_id }}</td>
                            <td>{{ form.quantity_1 }}</td>
                            <td>{{ form.quantity_2 }}</td>
                            <td>{{ form.quantity_3 }}</td>
                            <td>{{ form.quantity_4 }}</td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                      <button type="submit" class="btn btn-primary" style="width:5%">{% trans "Update" %}</button>
                    </form>
              </div>
        </div>
      </div>
          <br/>
      <!--<div class="jumbotron" style="background-color:rgb(44, 62, 80, .8);margin-top:-2%">-->
        <div class="card" style="background-color:rgb(44, 62, 80, 0.5)">
          <div class="card-header" style="font-size:25px;color:white">
            {% trans "Directsales" %}
          </div>
          <div class="card-body">
            <form method="POST" action="update_directsales_form">
              <table class="table table-dark table-bordered table-hover" style="align:center">
                <thead>
                  <tr>
                    <th scope="col">{% trans "Product ID"%}</th>
                    <th scope="col">{% trans "Quantity"%}</th>
                    <th scope="col">{% trans "Price"%}</th>
                    <th scope="col">{% trans "Penalty"%}</th>
                  </tr>
                </thead>
                <tbody>
                  {{ formset_directsales.management_form }}
                  {% for form in formset_directsales %}
                  {% csrf_token %}
                  <tr>
                    <td>{{ form.product_id }}</td>
                    <td>{{ form.quantity }}</td>
                    <td>{{ form.price }}</td>
                    <td>{{ form.penalty }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              <button type="submit" class="btn btn-primary" style="width:5%">{% trans "Update" %}</button>
            </form>
          </div>
          {% if not file_not_uploaded %}
          <a href="production-summary" style="margin-left:1%;margin-bottom:1%">
            <button type="button" style="width:5%" class="btn btn-secondary">{% trans "Next" %}</button>
          </a>
          {% endif %}
          <a href="reset_application" style="margin-left:1%;margin-bottom:1%">
            <button type="button" style="width:5%" class="btn btn-danger">{% trans "Reset all" %}</button>
          </a>
      </div>

    <!--</div>-->
  </body>
  <footer class="footer">
  </footer>
</html>
